<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPFS file uploaded</title>
</head>
<body>
    <h1>Uploaded file to IPFS !</h1>
    <p>Name: <%= fileName %></p>
    <p>Link: <a href="https://ipfs.io/ipfs/<%= fileHash %>"><%= fileHash %></a></p>
</body>
</html>